<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edite User</title>
</head>
<body>
<center>
    <form  th:action="@{/edit}" th:object="${user}" th:method="post">
        <label for="id"></label>
        <input type="hidden" th:field="*{id}" id="id"/>
        <br/>
        <label for="name">new name</label>
        <input type="text" th:field="*{firstName}" id="name"/>
        <br/>
        <label for="lastName">new lastname</label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <br/>
        <label for="age">new age</label>
        <input type="number" th:field="*{email}" id="age"/>
        <br/>
        <label for="email">new email</label>
        <input type="email" th:field="*{email}" id="email"/>
        <br/>
        <input type="submit" value="Update User"/>
    </form>
</center>
</body>
</html>




<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en">-->

<!--<head>-->
<!--    <if test="${empty user.getFirstName()}">-->
<!--        <title>Add</title>-->
<!--    </if>-->
<!--    <if test="${!empty user.getFirstName()}">-->
<!--        <title>Edit</title>-->
<!--    </if>-->
<!--</head>-->
<!--<body>-->

<!--<if test="${!empty user.firstName}">-->
<!--    <url value="/add" var="var"></url>-->
<!--    <th>actionE</th>-->
<!--</if>-->

<!--&lt;!&ndash;<c:if test="${!empty user.getFirstName()}">&ndash;&gt;-->
<!--&lt;!&ndash;    <c:url value="/edit" var="var"/>&ndash;&gt;-->
<!--&lt;!&ndash;</c:if>&ndash;&gt;-->

<!--<form action="${var}" th:object="${user}" method="POST">>-->

<!--    &lt;!&ndash;    <if test="${!empty user.getFirstName()}">&ndash;&gt;-->
<!--    &lt;!&ndash;        <input type="hidden" name="id" value="${user.getId()}">&ndash;&gt;-->
<!--    &lt;!&ndash;    </if>&ndash;&gt;-->

<!--    <input type="hidden" name="id" value="${user.getId}">-->

<!--    <label for="FirstName">FirstName</label>-->
<!--    <input type="text" th:field = "*{firstName}" id="FirstName"/>-->

<!--    <input type="text" th:field = "*{lastName}"/>-->

<!--    <input type="number" th:field = "*{age}"/>-->

<!--    <input type="email" th:field = "*{email}"/>-->

<!--    <input type="submit" value="Create" />-->

<!--    <if test="${user.getId}">-->
<!--        <input type="submit" value="Add new user">-->
<!--    </if>-->

<!--    &lt;!&ndash;    <c:if test="${!user.getFirstName()}">&ndash;&gt;-->
<!--    &lt;!&ndash;        <input type="submit" value="Edit film">&ndash;&gt;-->
<!--    &lt;!&ndash;    </c:if>&ndash;&gt;-->

<!--</form>-->
<!--</body>-->
<!--</html>-->